body{
    margin: 0;
}
@font-face
{
    font-family: "courgette";
    src: url("../fonts/Courgette-Regular.ttf") ;
}
@font-face
{
    font-family: "oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf") ;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.navbar h2 a {
    font-family: 'Courgette', cursive;
}

p, a, span {
    font-family: 'Oswald', sans-serif;
}




